# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Django migrations (optional)
**/migrations/
!**/migrations/__init__.py

# Python virtual environment
venv/
env/
ENV/
.venv/

# Secret files
*.env
.env.*

# Database and media
*.sqlite3
db.sqlite3
/media/
/staticfiles/

# System files
.DS_Store
Thumbs.db

# VSCode and JetBrains settings
.vscode/
.idea/

# Node stuff (if using frontend packages)
node_modules/
npm-debug.log

# Git
*.swp
*.lock
*.log

# Compiled assets
*.css.map
*.js.map
