{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block content %}
&nbsp;
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh; background-color: #f8f9fa;">
    <div class="card shadow-lg rounded-4 border-0 w-100" style="max-width: 700px;">
        <div class="card-body p-5 bg-light">
            <div style="border-top: 3px solid #000; margin: 30px 180px;"></div>
            <h3 class="text-center mb-4">
                Update Record
            </h3>
            <div style="border-top: 3px solid #000; margin: 30px 180px;"></div>
            <hr class="mb-4">

            <form method="POST" autocomplete="off">
                {% csrf_token %}

                {% for field in form %}
                    <div class="row mb-4 align-items-center">
                        <label class="col-sm-4 col-form-label fw-semibold fs-4">{{ field.label_tag }}</label>
                        <div class="col-sm-8">
                            {{ field|attr:"style: border: 1px solid #000; padding: 5px; font-size: 1.1rem;" }}

                            {% if field.errors %}
                                <div class="text-danger small mt-1">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                &nbsp;
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary" style="padding: 20px 80px 20px 80px;">Update Record</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
